p {
  font-size: 16px;
  text-indent: 2em;
  line-height: 25px;
  margin: 0.25rem 0;
}
img {
  width: 100%;
  vertical-align: middle;
}
h3 {
  font-weight: 700;
  text-align: center;
  line-height: 50px;
}
video {
  width: 100%;
  height: 100%;
}
h3 img {
  width: 25px;
  height: 25px;
}

p img {
  width: 18px;
  height: 18px;
}

b {
  font-weight: 700;
  color: red;
}
.center {
  width: 100%;
  text-align:center;
  font-weight: 700;
  font-size: 15px;
  padding-bottom: 10px;
}